.wizard a {
    padding: 10px 12px 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    min-width: 15.75%;
   /* margin-left: 0.25%;*/
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #707070;
    background: #EBEBEB;
    text-transform: uppercase;
    cursor: pointer;
}

.wizard a.inativo{
    padding: 10px 12px 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    min-width: 15.75%;
   /* margin-left: 0.25%;*/
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #707070;
    background: #A9A9A9;
    text-transform: uppercase;
    cursor: pointer;
}
 
.wizard a:hover {
    text-decoration: none;
}

.wizard a:first-child {
    margin-left: 0;
}
 
.wizard:not(.left-arrow) a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #FFFFFF;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
 
 .wizard:not(.left-arrow) a.ativo:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #EBEBEB;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
 
.wizard:not(.left-arrow) a.inativo:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #A9A9A9;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
 
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

#principal{
    width:1048px;
    min-height:500px;
    background-color:#fdfdfd;
    margin:0px auto 0px auto;
}

.nav{
    width:900px;
    margin:0px auto;
}

.conteudo:not(.left-arrow) .detalhe:after {
    width: 0;
    height: 0;
    border-left: 80px inset transparent;
    border-right: 80px inset transparent;
    border-bottom: 40px solid #EBEBEB;
    position: absolute;
    content: "";
    top: 45px;
    left:150px;
    /*bottom: -80px;*/
    z-index: 2;
}

#principal .detalhe{
    min-width: 400px;
    max-width:600px;
    background-color:#EBEBEB;
    margin-top:40px;
    padding:10px;
}

#principal .detalhe h2{
    padding-left:30px;
    text-align:left;
    font-size:12pt;
    font-weight:600;
}

#principal .detalhe p{
    padding-left:30px;
    text-align:left;
    font-size:10pt;
}

#principal .conteudo .inativo{
    display:none;
}

/*#principal .conteudo .detalhe .ficha{
    float:left;
}*/